.main__inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    flex-direction: column;
    color: var(--white);

    > div {
        font-size: 8.7vw;
        line-height: 1;
        text-transform: uppercase;
    }
}