.movie__inner {

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: 23%;
            position: relative;
            transition: transform 0.3s;

            &:hover {
                transform: translateY(-20px);
            }

            em {
                display: block;
                height: 80px;
                margin-bottom: 30px;
                font-family: var(--font-sub3);
            }

            .title {
                display: inline-block;
                padding: 5px 0;
            }

            .star {
                background: #fff;
                color: #000;
                position: absolute;
                left: 10px;
                top: 10px;
                width: 30px;
                height: 30px;
                border-radius: 100px;
                text-align: center;
                line-height: 30px;
                font-weight: 800;
                z-index: 1;
            }
        }
    }

    a {
        color: var(--white);
    }
}

.movie__search {
    margin-bottom: 100px;
    
    .container {
        position: relative;
    }

    h2 {
        color: var(--white);
        font-size: 40px;
        text-indent: -9999px;
        height: 0;
    }
    input {
        background: #000;
        border: 2px solid var(--white);
        border-radius: 50px;
        color: #fff;
        width: 100%;
        padding: 15px 30px;
        font-family: var(--font-sub3);
        margin-top: 50px;
    }
    button {
        position: absolute;
        right: 0;
        top: 50px;
        width: 100px;
        height: 56px;
        border-radius: 50px;
        border: 0;
        font-family: var(--font-sub3);
        cursor: pointer;
        z-index: 1000;
    }
}

.pop__movie {
    h2 {
        color: var(--white);
        font-size: 30px;
        height: 0;
        display: inline-block;
        font-family: var(--font-sub3);
    }

    
    

    // .pop__inner {

    //     div.swiper {
    //         display: flex;
    //         justify-content: space-between;
    //         flex-wrap: wrap;
    //         padding-bottom: 50px;
    //         position: relative;
        
    //         .swiper-pagination-bullet {
    //           background: var(--white);
    //         }
    //         li {
    //             display: flex;
    //             justify-content: space-between;
    //             flex-wrap: wrap;
    //             margin-top: 30px;
    //             transition: transform 0.3s;
    //             position: relative;

    //             &:hover {
    //                 transform: translateY(-20px);
    //             }

    //             .rank__desc {
    //                 .rank {
    //                     position: absolute;
    //                     right: 10px;
    //                     top: 0;
    //                     font-size: 50px;
    //                     font-weight: 800;
    //                     font-family: var(--font-sub2);
    //                     text-shadow: 0 0 10px black, 0 0 10px black;
    //                 }
    //             }

    //             em {
    //                 display: block;
    //                 margin-top: 30px;
    //                 font-family: var(--font-sub3);
    //             }
    
    //             .title {
    //                 display: inline-block;
    //                 // padding: 5px 0;
    //             }
    //             .star {
    //                 background: #fff;
    //                 color: #000;
    //                 position: absolute;
    //                 left: 10px;
    //                 top: 10px;
    //                 width: 30px;
    //                 height: 30px;
    //                 border-radius: 100px;
    //                 text-align: center;
    //                 line-height: 30px;
    //                 font-weight: 800;
    //                 z-index: 1;
    //             }  

    //             .switer-slide {
    //                 position: relative;
        
                    
    //             }
    //         }
    //     }
    // }


    // ul {
    //     display: flex;
    //     justify-content: space-between;
    //     flex-wrap: wrap;
    //     margin-top: 30px;

    //     li {
    //         width: 18%;
    //         position: relative;
    //         transition: transform 0.3s;

    //         &:hover {
    //             transform: translateY(-20px);
    //         }

    //         .rank__desc {
    //             .rank {
    //                 position: absolute;
    //                 right: 10px;
    //                 top: 0;
    //                 font-size: 50px;
    //                 font-weight: 800;
    //                 font-family: var(--font-sub2);
    //                 text-shadow: 0 0 10px black, 0 0 10px black;
    //             }
    //         }

    //         em {
    //             display: block;
    //             height: 80px;
    //             margin-bottom: 30px;
    //             font-family: var(--font-sub3);
    //         }
            
    //     }
    // }

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        height: 630px;
    
        .swiper-pagination-bullet {
            background: var(--white);
        }
    
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
    
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 500px;
            }
    
            em {
                display: block;
                margin-top: 30px;
                font-family: var(--font-sub3);
            }
    
            .title {
                display: inline-block;
                // padding: 5px 0;
            }
    
            .star {
                background: #fff;
                color: #000;
                position: absolute;
                left: 10px;
                top: 10px;
                width: 30px;
                height: 30px;
                border-radius: 100px;
                text-align: center;
                line-height: 30px;
                font-weight: 800;
                z-index: 1;
            } 

            .rank__desc {
                .rank {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    font-size: 50px;
                    font-weight: 800;
                    font-family: var(--font-sub2);
                    text-shadow: 0 0 10px black, 0 0 10px black;
                }
            }
        }
    }

    a {
        color: var(--white);
    }
}
  
  
  
  
  