.refer__inner {
    padding-bottom: 200px;

    h2 {
        font-size: 30px;
        color: var(--white);
    }
}

.refer__list {
    border: 1px solid var(--bg-dark-border);

    li {
        border-bottom: 1px solid var(--bg-dark-border);

        a {
            display: flex;
            align-items: center;
            width: 100%;
            color: var(--white);

            span {
                display: inline-block;
                padding: 15px 20px;
            }
            span:nth-child(1) {
                width: 5%;
            }
            span:nth-child(2) {
                width: 20%;
            }
            span:nth-child(3) {
                width: 60%;
            }
            span:nth-child(4) {
                width: 15%;
                text-align: right;
            }
            
            .num {
                flex: 1 1 5%;
                text-align: center;
                border-right: 1px solid var(--bg-dark-border);
            }
            .name {
                flex: 1 1 20%;
            }
            .desc {
                flex: 1 1 65%;
                font-family: var(--font-sub3);
            }
            .star {
                flex: 1 1 10%;
                text-align: center;
            }
        }
    }
}